* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: 65px;
  height: 65px;
  border-radius: 65px;
  border: 1px solid rgb(50, 50, 50);
  font-size: 30px;
  color: rgb(250, 250, 250);
  background-color: rgb(50, 50, 50);
}

.container {
  margin: 30px auto;
  height: 500px;
  width: 300px;
  background-color: rgb(20, 20, 20);
  color: rgb(250, 250, 250);
  border-radius: 16px;
  padding: 12px;
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.display {
  height: 110px;
  width: 272px;
  padding-right: 10px;
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.display-big {
  font-size: 60px;
  height: 72px;
}

.display-small {
  font-size: 22px;
  color: rgb(215, 215, 215);
}

.operator,
.equal {
  color: rgb(242, 255, 0);
}

.top {
  color: rgb(0, 238, 255);
}
